.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: flex-end; /* app-name sa fie la baza containerului logo-container */
  gap: 10px; /* spatiu intre logo si text */
}

.logo {
  height: 3rem; /* dimensiune logo */
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.login-form {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  width: 40%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.5rem 0.5rem;
}

form {
  padding: 0 20px;
}

.credential-line {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

/* titlul de Log In */
.login-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* textul de signup daca nu ai cont  */
.signup-text {
  text-align: center;
  margin-bottom: 1rem;
  color: #555;
}

/* labelurile: username, password */
.login-form label {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: #333;
}

/* spatiul de input  */
.login-form input {
  border-radius: 8px;
  margin: 5px;
  align-self: center;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box; /* daca se adauga alte elemente, dimensiunea ramane aceeasi, paddingul nu mareste */
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

/* buton  */
.button-container {
  display: flex;
  justify-content: center;
}

.login-form button {
  width: 95%; /*ocupa 90% din dimensiunea parintelui login-form */
  padding: 0.75rem;
  margin: 1.1rem 0rem;
  font-size: 0.9rem;
  border-radius: 20px;
  border: none;
  background-color: #4682a9;
  color: #fff; /* text alb */
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.login-form button:hover {
  background-color: #574fd6;
}

/* containerul cu 2 credentiale pe linie  */
.two-credential-container {
  display: flex;
  width: 100%;
}

.credential {
  flex: 1; /*elementele din container parinte ocupa spatiu egal */
  display: flex; /* flex ca sa asezam label si input  */
  flex-direction: column; /* label si si input sa fie una sub alta. daca era row, erau una dupa alta */
  margin-left: 5px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
}

/* iconurile de la inputuri  */
.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none; /*nu răspunde la click-uri, hover  */
}

/* icon ochi de la password  */
.password-toggle {
  position: absolute;
  top: 55%; /*colțul de stanga sus al iconului este plasat la jumătatea înălțimii părintelui. deci iconul e prea jos, colt stanga e la jumate*/
  transform: translateY(
    -50%
  ); /* mută iconul în sus cu jumătate din înălțimea lui*/
  right: 10px;
  cursor: pointer;
  color: #666;
}
