.profile-details {
  display: flex;
  flex-wrap: wrap;   
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 2rem;
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #e3e5f3;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.05); */
  border: 0.1rem solid #00000035;
}

.account-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* scoatem stilurile implicite ale ul */
  list-style: none; 
  padding: 0;       
  margin: 0;  
}

.profile-details h2 {
  text-align: left;   /* aliniază textul la stânga în containerul său */
}

.detail-li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-img {
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.btn-profile {
  background-color: #5b63b7;
  color: white;
  margin-left: 14rem;   
  margin-right: 2rem;   
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}

.btn-profile a {
  text-decoration: none; /* scoate underline */
  color: inherit;       /* moștenește culoarea butonului */
}


.btn-profile:hover {
  background-color: #454c94; 
  color: white;
}


/* -----------container butoane switch ------------ */
.switch-buttons {
  display: flex;
  justify-content: center;
}

/* butoanele*/
.switch-button {
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  color: #333;
  transition: all 0.2s ease;
}

.switch-button:first-child {
  border-radius: 8px 0 0 8px; /* rotunjim primul buton/copil in partea stanga*/
}

.switch-button:last-child {
  border-radius: 0 8px 8px 0; /* rotunjim al 2lea buton/copil in partea dreapta */
}

.switch-button:hover {
  background: #f3f3f6; /* usor gri la hover */
}

.switch-button.active { /* cand e selectat butonul */
  background: #fff;
  border-bottom: 2px solid #000;
  color: #000;
}


/* --------------butonul de creeaza postare---------------  */
.post-ad-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.post-ad-btn {
  border: none;
  cursor: pointer;
  background-color: #5b63b7;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.post-ad-btn:hover {
  background-color: #454c94;
  color: #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}


/* PAGINATION  */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* spațiu între butoane */
  margin-top: 20px;
  padding-bottom: 3rem;
}

.pagination-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #ddd;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn.active {
  background-color: #5b63b7;
  color: white;
}
