/* partea de profil  */
.profile-card {
  display: grid;
  grid-template-columns: 2fr 3fr; /* 40%/60% aproximativ */
  gap: 20px;
  padding: 10px;
  height: calc(100vh - 60px);
  box-sizing: border-box; /* ca padding-ul să nu extindă lățimea */
}

.profile-data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* design card */
  background-color: white;
  padding-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  position: relative;
  cursor: pointer;
}

.profile-photo img {
  width: 300px;
  height: 200px;
  object-fit: contain; /* imaginea e potrivita, nu e stretched ca sa ocupe spatiul fixat */
}

.profile-photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* cele 5 randuri de mai sus fac ca overlay-ul sa acopere exact div-ul părinte (.profile-photo). pozitia e raportata la div parinte */
  background-color: rgba(128, 128, 128, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.profile-photo:hover .overlay {
  opacity: 1;
}

/* informatii user */
.user-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.info-card {
  background-color: #fff;
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

.info-label {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.info-value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* butoane cont  */
.profile-actions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-top: auto; /* se impinge cat mai jos posibil */
  margin-bottom: 40px;
  display: flex;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s; /*orice schimbare a culorii de fundal si a proprietății transform se face in 0.2s  */
}

.btn:hover {
  transform: translateY(-2px);
}

.btn.logout {
  background-color: #3498db; /*culoare buton  */
  color: white; /*culoare text buton  */
}

.btn.logout:hover {
  background-color: #2980b9;
}

.btn.delete {
  background-color: #e74c3c;
  color: white;
}

.btn.delete:hover {
  background-color: #c0392b;
}

/* partea de postari */
.posts-card {
  /* design card */
  background-color: white;
  padding-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
